.DS_Store
*.pyc
*.toc
*.aux
*.log
*.toc
*.bbl
*.blg
*.out
*.komodoproject
.idea
*.synctex.gz*
cover
.coverage
*.project
*.pydevproject
.vscode
*.settings
*~
*.egg-info
*#
/MANIFEST
/dist
.sass-cache
/_site
.texlipse
*.bak
__pycache__
*.swp
/build/
.pytest_cache
