.DS_Store
*.pyc
x86_64
*.toc
*.aux
*.log
*.toc
*.bbl
*.blg
*.out
*.pdf
*.komodoproject
.idea
*.synctex.gz*
cover
.coverage
*.project
*.pydevproject
*.settings
/examples/Brunel2000/nineml_mechanisms/
*.pdf
*.synctex.gz
.9build
.swp
*~
*.egg-info
*.dvi
*#
/MANIFEST
/dist
.sass-cache
/_site
.texlipse
