recursive-include doc/source *
graft examples
prune .deprecated
prune .project
prune .pydevproject
prune .travis.yml
recursive-exclude * .gitignore
recursive-exclude * .DS_Store
recursive-exclude * .settings
